h1 {
    color: navy;
}
li {
    list-style: none;
}
ul {
    margin: 0;
    padding: 0;
}
small{
  display: block;
  text-align: center;
}
.WeatherApp {
    max-width: 750px;
    margin: 30px auto;
    padding: 20px;
    border: 2px solid #9ddcdc;
    border-radius: 10px;
    background: #9ddcdc;
}
.temperature {
    font-size: 45px;
}
.unit {
    position: relative;
    top: -20px;
}
.TypeCity{
    width: 100%;
}
.current {
  color: #fff;
  background-color: #e95280;
  border-color: #e95280;
  font-weight: 400;
  line-height: 1.5;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  border-radius: .25rem;
}
.current:hover {
  background-color: #df4c78;
  border: 1px solid transparent;
}
.weathe-temperature .active {
color: black;
cursor: default;
text-decoration: none;
}
.weathe-temperature .active:hover{
  text-decoration: none;
}
.col {
  display: inline-block;
  padding: 5px;
  margin: 3px;
  text-align: center;
  border: 2px solid #e67a7a;
  border-radius: 25px;
  color: #d45079;
  background: #cff0f0;
}
.temperature2 {
  font-size: 14px;
}
.forecast-max{
  color: #f5064e;
}
.forecast-min {
  color: rgb(46, 62, 114);
}
.weather-forecast-date {
 font-size: 16px;
 font-weight: bold;
}